{
  "extends": [
    "idiomatic",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "rules": {
    indent: ["error", 2, { "SwitchCase": 1 }],
    "one-var": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}
