{
  "extends": [
    "idiomatic",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "rules": {
    "one-var": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}
